<launch>
    <param name="use_sim_time" value="true" />
    <rosparam command="load" file="$(find robot_sim_lsy)/launch/robot_localization_lsy/ekf_config.yaml"/>
    <!--imu坐标系变换-->
    <!--node pkg="tf" type="static_transform_publisher" name="imu_tf_publisher" args="0 0 0 1.57 0 3.14 base_link imu_link 10"/-->

    <!--显示轨迹-->
    <node pkg="robot_sim_lsy" type="robot_marker_lsy" name="robot_marker_lsy" output="screen"/>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true" output="screen">
      <remap from="odometry/filtered" to="odom"/>
    </node>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true" output="screen">
      <remap from="odometry/filtered" to="odometry/filtered_map"/>
    </node>

    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" output="screen">
      <remap from="odometry/filtered" to="odometry/filtered_map"/>
      <remap from="gps/fix" to="/4wd_test/fix"/>
      <remap from="odometry/gps" to="/4wd_test/navsat_transform_map/odom"/>
      <remap from="gps/filtered" to="/4wd_test/navsat_transform_map/gps"/>
      <!--navsat 订阅来自gps的话题/4wd_test/fix  发布 odometry/gps   gps/filtered -->
    </node>
</launch>
