<launch>
    <arg name="4wd_test" />
    <arg name="gui" default="False" />

    <param name="robot_description" textfile="$(find localization_4wd)/urdf/test.urdf" />
    <param name="use_gui" value="$(arg gui)"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz"  pkg="rviz"   type="rviz" args="-d $(find localization_4wd)/urdf/test.rviz"/>

    <node pkg="localization_4wd" type="localization_imu_msgs.py" name="localization_imu_msgs" output="screen"/>

    <include file="$(find localization_4wd)/launch/robot_localization_lsy.launch"></include>
</launch>
