<?xml version="1.0" ?>
<robot name="4wd_test">

<link name="base_link">
    <visual>
        <origin xyz=" 0 0 0" rpy="0 0 0" />
        <geometry>
            <box size="0.40 0.20 0.16"/>
        </geometry>
        <material name="yellow">
            <color rgba="1 0.4 0 1"/>
        </material>
    </visual>
</link>

<!-- imu sensor -->
<joint name="imu_joint" type="fixed">
    <origin xyz="0 0 0.08" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="imu_link"/>
</joint>

<link name="imu_link">
    <!-- <visual>
        <origin xyz=" 0 0 0 " rpy="0 0 0" />
        <geometry>
            <cylinder length="0.01" radius="0.03"/>
        </geometry>
        <material name="black"/>
    </visual> -->
</link>

</robot>