<launch>

  <arg name="robot" default="4wd_test"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>

  <!-- Start Gazebo with a blank world-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--arg name="world_name" value="$(find robot_sim_lsy)/worlds/ROS-Academy.world"/-->
    <!--arg name="world_name" value="$(find robot_sim_lsy)/worlds/sai_di.world"/-->
    <arg name="world_name" value="$(find turtlebot_gazebo)/worlds/playground.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

<!-- convert gps formation to utm -->
<!-- <node name="gps_conv" pkg="gps_common" type="utm_odometry_node">
  <remap from="odom" to="/4wd_test/gps"/>
  <remap from="fix" to="/4wd_test/fix" />
  <param name="rot_covariance" value="99999" />
  <param name="frame_id" value="gps_link" />
</node>-->

  <!-- Oh, you wanted a robot? -->
  <include file="$(find robot_sim_lsy)/launch/include/$(arg robot).launch.xml"/>

  <!-- build a new rviz -->
  <node    name="rviz"    pkg="rviz"    type="rviz"    args="-d $(find robot_sim_lsy)/urdf/urdf.rviz" />


</launch>
